################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Task1/ConsoleClient/obj/Debug
/Task1/ConsoleServer/bin/Debug
/Task1/ConsoleServer/obj/Debug
/Task1/ServerAndClientLib/obj/Debug
/Task1/.vs/Task1/v14/.suo
